* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Open Sans", serif;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --border-primary: #d9d9d9;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: #f5f4f0;
}

header {
  padding-top: 40px;
}

#container {
  width: 1120px;
  margin: 40px auto 40px;
  box-sizing: border-box;
}

#page-head img {
  width: 1120px;
}

.text-headline {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--text-primary);
}

#page-head h3 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-size: 32px;
  color: var(--text-primary);
}

h3 {
  font-size: 28px;
  color: var(--text-primary);
}

p {
  font-size: 16px;
  color: var(--text-secondary);
}

#content-list {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #d9d9d9;
}

#divider {
  margin-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
}

#title {
  margin: 64px 0 64px;
}

#content-list img {
  margin-bottom: 20px;
}

#title h2 {
  margin-top: 2px;
}

#title p {
  margin-top: 8px;
}

#card-travel p {
  margin-top: 4px;
}

.content-info {
  font-weight: bold;
  color: var(--accent-blue);
}

ol h3 {
  margin-left: 40px;
}

ol ul {
  margin-bottom: 48px;
}

ul {
  list-style-type: disc;
  font-weight: bold;
  margin-left: 24px;
}

#card-travel-three {
  margin-bottom: 40px;
}

.one-item {
  color: var(--accent-blue);
}

#last-list li:nth-child(1) {
  color: var(--accent-purple);
}

#last-list li:nth-child(2) {
  color: var(--accent-pink);
}

#last-list li:nth-child(3) {
  color: var(--accent-orange);
}

#description {
  text-align: center;
}

footer {
  margin: 65px auto 48px;
  text-align: center;
}
footer img {
  vertical-align: middle;
}
